language: go
go:
  - 1.8

script:
  - make all
  - make goveralls

before_deploy:
  - pip install --user release-manager==0.1.0

deploy:
  skip_cleanup: true
  provider: script
  script: make release
  on:
    condition: '"${TRAVIS_GO_VERSION}" == "1.8"'
    tags: true

env:
  global:
  - secure: FdK41swltyi5nPjvv3DfRUOqTThvY4r/a3dw81HVzeujqAAYxL6DleVsGx/Vk82d1jdaWpJqiw6t3zjSZvR476ITKxh8Xhx/KW71Tauk/qrrsQvokxIT9bDQnzfOXb7oRiEciAUgyHgqcDTiYKCvfgSEHb6cV1EhUw7nDVGJkONvGDFP3dEQUeH6rYwF4KtQN9PXbmJZ1ZNyX0Xl9G+IoV4zu9UqTNH5ZBkdiFnEOyyLIMlhPE0gvNEl243A+79GiqeAV2D5OSDgHEVIWn7wkri4+K9fj74Qu1Sxfb+nbmEqO/C60VKfpBlSWOVuuj7PUOylbfkdxZIycT7O91GPNmm9XQGpxImwIJaAJCtkH8wyXDpm4+qJLIYj91T2L6+bRYLOLzaQIKNGbueRAXL5Yagzb6wnbwmfolhpqQ8i4PtRutItd/R0TgMIw9ejehcMDbSUXWW6AZcGCHRM7zbTS3zjwsMpP1vlXQBYa/rBamH7MWg7swY6OvcMMlvV6+Yjt35xDLa5pG9MaUceuMsvw5C1zvbyR2q2vBOmzBVV8qo4vBQNXDR9TkeLxLbPSHqdHogEOCEgSEKZ83sXc1ODx3785NFWEw797qeRsF1vJ3I4Fr7EpMSFk1M+tRCDpFRL3n+gW4Crg3tCWYobuDFl/QAhTSjj2ojkEnfxXLQ60wg=
  - secure: cbOjF3oRcdn8cWsav78iol0KQixm7x+Zoravqfg6o91jzcRsHPlWv7Re+/JtIrRY+Y9YXa0xc83sRNq5+yFEqY4Mwq0IG0CYhTyAZEOi5DJ67D4ThIvIOBVAAG3dmCtn6+T3ki7Q3+mAARpHaf2f1Q2MISxeH8bF15roRm8S8HlZoyHS/4lbnt2zUGYP9EnGsK3RFtv8Xvv28Q5+bpmu6ulaqi3E12s/OeuW8VRzEV42CFCqP5c0Ft11/l5sF+NudZAAdmDzJfTCIPlJzFvUgLfHscq8DJOC8A6Ks2QYbzr+goXkQMSgnrXK8SarSDlCotXmW/OYYXlwzeM2Um77hxXEO12gBYcFCKtYHgxzyQwCF3rjt+9bzHHWvgBWJ4EAaiCaWzRn7nE9LXn4WcUj+t/tGCBFZKm9DkfiG0uMD8axrf1YLLB3smJss2+I/o1kCSfIy/vVoDUcy2Q7jFzysddyDWTeV6TnROE1ivMQ23SRZuQCJNZHpxDbXuYZDq2mWuGuSnmB7n7agOvZ67WLWZHzBpgz1wtr6u+Uin6w7vSQff32rzPOI0MsR81m7JYlpVdtXkmg+1QfsySnOR1v4Foej4aUNlf1ZolNJHHTx2OA0iwZSwwDWDpm+7Yd+vp6PMmCwd7fEU+QD41jKRWUHqloLjSIyQXG32CwFYeXKNY=
